ItOps.MessageHandlers/Service References/HumanResources.WCF/DepartmentService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:62771/DepartmentService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost:62771/DepartmentService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/HumanResources.WCF.DataTransferObjects" />
  <xs:element name="GetByIdWithManager">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="id" type="q1:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetByIdWithManagerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/HumanResources.WCF.DataTransferObjects" minOccurs="0" name="GetByIdWithManagerResult" nillable="true" type="q2:DepartmentDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>