HumanResources.UI/Service References/Calendar.WCF/BookingService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Calendar.WCF.DataTransferObjects" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Calendar.WCF.DataTransferObjects" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:53973/BookingService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfBookingDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BookingDto" nillable="true" type="tns:BookingDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBookingDto" nillable="true" type="tns:ArrayOfBookingDto" />
  <xs:complexType name="BookingDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="BookingType" nillable="true" type="tns:BookingTypeDto" />
      <xs:element minOccurs="0" name="EmployeeId" type="ser:guid" />
      <xs:element minOccurs="0" name="End" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
      <xs:element minOccurs="0" name="Start" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BookingDto" nillable="true" type="tns:BookingDto" />
  <xs:complexType name="BookingTypeDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BookingTypeDto" nillable="true" type="tns:BookingTypeDto" />
</xs:schema>