HumanResources.UI/Service References/Calendar.WCF/BookingService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:53973/BookingService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Calendar.Application.Requests" />
  <xs:import schemaLocation="http://localhost:53973/BookingService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Calendar.WCF.DataTransferObjects" />
  <xs:import schemaLocation="http://localhost:53973/BookingService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:element name="Search">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Calendar.Application.Requests" minOccurs="0" name="request" nillable="true" type="q1:SearchBookingsRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Calendar.WCF.DataTransferObjects" minOccurs="0" name="SearchResult" nillable="true" type="q2:ArrayOfBookingDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetById">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="id" type="q3:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Calendar.WCF.DataTransferObjects" minOccurs="0" name="GetByIdResult" nillable="true" type="q4:BookingDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>