ClientServices.UI/Service References/Sales.WCF/LeadService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Sales.WCF.DataTransferObjects" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Sales.WCF.DataTransferObjects" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:53093/LeadService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfLeadDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LeadDto" nillable="true" type="tns:LeadDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLeadDto" nillable="true" type="tns:ArrayOfLeadDto" />
  <xs:complexType name="LeadDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Address2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Address3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AssignedToConsultantId" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhoneNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SignedUp" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LeadDto" nillable="true" type="tns:LeadDto" />
</xs:schema>