Sales.UI/Service References/ClientServices.WCF/ServiceService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/ClientServices.WCF.DataTransferObjects" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ClientServices.WCF.DataTransferObjects" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:51935/ServiceService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfServiceDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ServiceDto" nillable="true" type="tns:ServiceDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfServiceDto" nillable="true" type="tns:ArrayOfServiceDto" />
  <xs:complexType name="ServiceDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceDto" nillable="true" type="tns:ServiceDto" />
</xs:schema>