Sales.UI/Service References/Calendar.WCF/AppointmentService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AppointmentService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:62655/AppointmentService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:62655/AppointmentService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:62655/AppointmentService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Calendar.WCF.DataTransferObjects" />
      <xsd:import schemaLocation="http://localhost:62655/AppointmentService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:62655/AppointmentService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Calendar.WCF.Requests" />
      <xsd:import schemaLocation="http://localhost:62655/AppointmentService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Calendar.Domain.Common" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAppointmentService_GetByEmployeeId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetByEmployeeId" />
  </wsdl:message>
  <wsdl:message name="IAppointmentService_GetByEmployeeId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetByEmployeeIdResponse" />
  </wsdl:message>
  <wsdl:message name="IAppointmentService_GetByIds_InputMessage">
    <wsdl:part name="parameters" element="tns:GetByIds" />
  </wsdl:message>
  <wsdl:message name="IAppointmentService_GetByIds_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetByIdsResponse" />
  </wsdl:message>
  <wsdl:message name="IAppointmentService_ValidateBook_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidateBook" />
  </wsdl:message>
  <wsdl:message name="IAppointmentService_ValidateBook_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidateBookResponse" />
  </wsdl:message>
  <wsdl:portType name="IAppointmentService">
    <wsdl:operation name="GetByEmployeeId">
      <wsdl:input wsaw:Action="http://tempuri.org/IAppointmentService/GetByEmployeeId" message="tns:IAppointmentService_GetByEmployeeId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAppointmentService/GetByEmployeeIdResponse" message="tns:IAppointmentService_GetByEmployeeId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetByIds">
      <wsdl:input wsaw:Action="http://tempuri.org/IAppointmentService/GetByIds" message="tns:IAppointmentService_GetByIds_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAppointmentService/GetByIdsResponse" message="tns:IAppointmentService_GetByIds_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ValidateBook">
      <wsdl:input wsaw:Action="http://tempuri.org/IAppointmentService/ValidateBook" message="tns:IAppointmentService_ValidateBook_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAppointmentService/ValidateBookResponse" message="tns:IAppointmentService_ValidateBook_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAppointmentService" type="tns:IAppointmentService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetByEmployeeId">
      <soap:operation soapAction="http://tempuri.org/IAppointmentService/GetByEmployeeId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetByIds">
      <soap:operation soapAction="http://tempuri.org/IAppointmentService/GetByIds" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateBook">
      <soap:operation soapAction="http://tempuri.org/IAppointmentService/ValidateBook" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AppointmentService">
    <wsdl:port name="BasicHttpBinding_IAppointmentService" binding="tns:BasicHttpBinding_IAppointmentService">
      <soap:address location="http://localhost:62655/AppointmentService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>