Sales.UI/Service References/Calendar.WCF/AppointmentService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Calendar.WCF.DataTransferObjects" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Calendar.WCF.DataTransferObjects" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:62655/AppointmentService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfAppointmentDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AppointmentDto" nillable="true" type="tns:AppointmentDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAppointmentDto" nillable="true" type="tns:ArrayOfAppointmentDto" />
  <xs:complexType name="AppointmentDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="DepartmentId" type="ser:guid" />
      <xs:element minOccurs="0" name="EmployeeId" type="ser:guid" />
      <xs:element minOccurs="0" name="End" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="ser:guid" />
      <xs:element minOccurs="0" name="Start" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AppointmentDto" nillable="true" type="tns:AppointmentDto" />
</xs:schema>