Sales.UI/Service References/Calendar.WCF/AppointmentService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:62655/AppointmentService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost:62655/AppointmentService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Calendar.WCF.DataTransferObjects" />
  <xs:import schemaLocation="http://localhost:62655/AppointmentService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:62655/AppointmentService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Calendar.WCF.Requests" />
  <xs:import schemaLocation="http://localhost:62655/AppointmentService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Calendar.Domain.Common" />
  <xs:element name="GetByEmployeeId">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="employeeId" type="q1:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetByEmployeeIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Calendar.WCF.DataTransferObjects" minOccurs="0" name="GetByEmployeeIdResult" nillable="true" type="q2:ArrayOfAppointmentDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetByIds">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ids" nillable="true" type="q3:ArrayOfguid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetByIdsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Calendar.WCF.DataTransferObjects" minOccurs="0" name="GetByIdsResult" nillable="true" type="q4:ArrayOfAppointmentDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateBook">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Calendar.WCF.Requests" minOccurs="0" name="request" nillable="true" type="q5:ValidateBookRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateBookResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Calendar.Domain.Common" minOccurs="0" name="ValidateBookResult" nillable="true" type="q6:ArrayOfValidationMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>