Sales.UI/Service References/Calendar.WCF/AppointmentService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Calendar.WCF.Requests" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Calendar.WCF.Requests" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:62655/AppointmentService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ValidateBookRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="DepartmentId" type="ser:guid" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmployeeId" type="ser:guid" />
      <xs:element minOccurs="0" name="End" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Start" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ValidateBookRequest" nillable="true" type="tns:ValidateBookRequest" />
</xs:schema>